{% extends "base.html" %}
{% block title %}
    {{ block.super }} – Вопрос #{{ question.id }}
{% endblock %}
{% block content %}
<h2>Вопрос: {{ question.title }}</h2>
Добавлено: {{ question.added_at }}<br>
Автор: {{ question.author }}<br>
<br>
{{ question.text }}
<h2>Ответить:</h2>
{% for e in form.non_field_errors %}
    <div class="alert alert-danger">{{ e }}</div>
{% endfor %}
<form class="form-horizontal" method="post" action="/answer/">
    {% csrf_token %}
    <input type="hidden" value="{{ question.id }}" name="question">
    {% for field in form.visible_fields %}
        <div class="control-group
            {% if field.errors %}has-error{% endif %}">
            <label class="control-label">{{ field.label }}</label>
            <div class="controls">{{ field }}</div>
        </div>
    {% endfor %}

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">
        Отправить</button>
    </div>
</form>
<h2>Популярные ответы:</h2>
<ul>
    {% for answer in answers %}
    <li>
        Ответ получен от {{ answer.author }} в {{ answer.added_at }}<br>
        {{ answer.text }}<br>
    </li>
    {% endfor %}
</ul>
{% endblock %}